@model List<OgrenciNotMvc.Models.TBLOGRENCILER>
@{
    ViewBag.Title = "ÖğrenciListesi";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="container mt-4">
    <h2 class="text-center mb-4">Öğrenciler</h2>
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Adı</th>
                <th>Soyadı</th>
                <th>Fotoğrafı</th>
                <th>Cinsiyeti</th>
                <th>Kulübü</th>
                <th>Güncelle</th>
                <th>Kaldır</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ogr in Model)
            {
                <tr>
                    <td>@ogr.OGRID</td>
                    <td>@ogr.OGRAD</td>
                    <td>@ogr.OGRSOYAD</td>
                    <td>@ogr.OGRFOTO</td>
                    <td>@ogr.OGRCINSIYET</td>
                    <td>@ogr.OGRKULUP</td>
                    <td><a href="/Öğrenci/ÖğrenciGüncelle/@ogr.OGRID" class="btn btn-success">Güncelle</a></td>
                    <td><a href="/Öğrenci/ÖğrenciSil/@ogr.OGRID" class="btn btn-danger">Kaldır</a></td>
                </tr>
            }
        </tbody>
    </table>
    <a href="/Öğrenci/ÖğrenciEkle" class="btn btn-primary">Yeni Öğrenci Ekle Ekle</a>
</div>

